<!doctype html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mypage</title>
</head>
<body>
<section layout:fragment="content" class="content">
    <h2>내 정보 확인하기</h2>
    <div class="user-detail" th:each="USER: ${USER}">
        <div class="input"><label>UserId</label><input th:value="${USER.username}"/></div>
        <div class="input"><label>비밀번호</label><input type="password" th:value="${USER.password}"/></div>
        <div class="input"><label>주소</label><input th:value="${USER.address}"/></div>
        <div class="input"><label>전화번호</label><input th:value="${USER.tel}"/></div>
        <div class="input"><label>주소</label><input th:value="${USER.email}"/></div>
    </div>

    <form method="post" th:action="@{/logout}">
        <button class="logout">Logout</button>
    </form>
</section>
</body>
</html>

